<p id="notice"><%= notice %></p>

<h1>Listing Medicines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Exp date</th>
      <th>Concentration</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Donated</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.name %></td>
        <td><%= medicine.exp_date %></td>
        <td><%= medicine.concentration %></td>
        <td><%= medicine.quantity %></td>
        <td><%= medicine.description %></td>
        <td><%= medicine.donated %></td>
        <td><%= medicine.user_id %></td>
        <td><%= link_to 'Show', [@user ,medicine] %></td>
        <td><%= link_to 'Edit', edit_user_medicine_path(user, medicine) %></td>
        <td><%= link_to 'Destroy', [@user , medicine] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine', new_user_medicine_path %>
