<%= form_for([@user , @cloth]) do |f| %>
  <% if @cloth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cloth.errors.count, "error") %> prohibited this cloth from being saved:</h2>

      <ul>
      <% @cloth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :donated %><br>
    <%= f.check_box :donated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
