<p id="notice"><%= notice %></p>

<h1>Listing Cloths</h1>

<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>Color</th>
      <th>User</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Donated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cloths.each do |cloth| %>
      <tr>
        <td><%= cloth.size %></td>
        <td><%= cloth.color %></td>
        <td><%= cloth.user_id %></td>
        <td><%= cloth.quantity %></td>
        <td><%= cloth.description %></td>
        <td><%= cloth.donated %></td>
        <td><%= link_to 'Show', [@user , cloth] %></td>
        <td><%= link_to 'Edit', edit_user_cloth_path(@user , cloth) %></td>
        <td><%= link_to 'Destroy', [@user , cloth], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cloth', new_user_cloth_path %>
